<div class="stat-header-wrapper">
<ul class="stat-header">
    <li>
        Total Unique Nodes
        <i class="fa fa-circle" aria-hidden="true" title="Nodes"></i>
         {{total_nodes}}
    </li>

    <li>
        Total Unique Edges
        <span class="edge-icon" title="Edges"></span>
         {{total_edges}}
    </li>
</ul>
</div>