/*https://gist.github.com/csasbach/867744*/
.helpwidget
{
	cursor: help;
}

.tooltip
{
    opacity: 1;
	position:absolute;
	background-color:#eeeefe;
	border: 1px solid #aaaaca;
	padding:0.25em;
	max-width: 25%;
    height: auto;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}